$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  padding: 0px;
  margin: 0px;
}

.item {
  width: 200px;
  height: 200px;
  background-color: grey;
  position: absolute;
}

.connector {
  position: relative;
  top: 50px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background-color:white;
}

.input {
  position: relative;
  top:50px;
  left: 168px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background-color:white;
  z-index: 2;
}

.main-path {
  color: blue;
  stroke: blue;
  stroke-width: 5px;
  fill:none;
  // z-index: 0;
}

.grid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  z-index: -2;
}